*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;

}

@import "mixins";


body {
  scroll-behavior: smooth; /* плавный скролл */
}

hr{
  width: 150px;
  margin: 10px auto;
}

.wrapper{
  width: 1100px;
  margin: 0 auto;
  ul{
    list-style: none;
  }
}

.bg_style_1{
  .clearfix();
  background: #87509c;
  padding: 60px 0;
  .menu{
    float: right;
    .font-basic(@_upper: uppercase);
    li{
      float: left;
      a{
        color: #ffffff;
        text-decoration: none;
        padding: 5px 10px;
        &:hover{
          .border-basic(@_size: 3px, @_bg: #643a79, @_animate: true);
        }
      }
    }
  }
  p{
    margin-top: 60px;
    .font-basic(@_font: titillium-bold,@_size: 42px, @_line: 1.4, @_align:center, @_weight: bold);
  }
  .position{
    text-align: center;
    margin: 60px 0;
    a{
      text-decoration: none;
      padding: 20px 60px;
      .font-basic(@_font: titillium-semibold, @_upper: uppercase);
      .border-basic(@_bg: #eb7d4b);
      &:hover{
        .border-basic(@_animate:true, @_bg: red);
      }
    }
  }

}

.bg_style_2{
  .clearfix();
  background: #17c2a4;
  padding: 60px 0 80px 0;
  h2{
    .font-basic(@_font: titillium-bold,@_size: 40px, @_align:center, @_weight: bold, @_upper: uppercase);
  }
  p{
    .font-basic(@_font: titillium-regular, @_align:center, @_size: 18px);
  }
  ul {
    text-align: center;
    margin-top: 60px;
    li{
      float: left;
      width: 260px;
      padding: 5px;
      .font-basic(@_font: titillium-regular,@_align: center);
      h3{
        .font-basic(@_font: titillium-semibold,@_size: 20px, @_upper: uppercase);
        margin: 20px 0 10px 0;
      }
    }
  }
}

.bg_style_3{
  .clearfix();
  background: #e7f1f8;
  padding: 120px 0 80px;
  h2{
    .font-basic(@_font: titillium-bold,@_size: 40px, @_align:center, @_weight: bold, @_upper: uppercase, @_color: #3c4761);
  }
  p{
    margin-top: 50px;
    .font-basic(@_font: titillium-semibold, @_align:center, @_size: 18px, @_color: #000);
  }
  ul{
    text-align: center;
    margin-top: 60px;
    li{
      float: left;
      width: 260px;
      padding: 5px;
      img{
        width: 200px;
        .border-basic(@_size: 50%);
      }
      h3{
        margin: 20px 0 10px;
        .font-basic(@_font: titillium-bold, @_align:center, @_size: 18px, @_color: #000,@_upper: uppercase);
      }
      a{
        text-decoration: none;
        .font-basic(@_font: titillium-regular, @_align:center, @_size: 16x, @_color: #30bae7);
      }
      p{
        margin: 10px 0;
        .font-basic(@_font: titillium-light, @_align:center, @_size: 16x, @_color: #3c4761);
      }
    }
  }
  .social_links_fb:before{
    content: url(../img/fk.png);
  }

  .social_links_tw:before{
    content: url(../img/tw.png);
  }

  .social_links_in:before{
    content: url(../img/in.png);
  }

  .social_links_mail:before{
    content: url(../img/mail.png);
  }
}

.bg_style_4{
  .clearfix();
  background: #fff;
  padding: 120px 0 80px;
  h2{
    .font-basic(@_font: titillium-bold,@_size: 40px, @_align:center, @_weight: bold, @_upper: uppercase, @_color: #000);
  }
  p{
    margin-top: 50px;
    .font-basic(@_font: titillium-semibold, @_align:center, @_size: 18px, @_color: #000);
  }
  ul{
    text-align: center;
    margin-top: 60px;
    li{
      float: left;
      width: 260px;
      padding: 5px;
      p{
        margin-top: 25px;
        .font-basic(@_font: titillium-semibold, @_align:center, @_size: 18px, @_color: #000, @_upper: uppercase);
      }
    }
  }
}

.bg_style_5{
  .clearfix();
  background: #ffdd99;
  padding: 120px 0 80px;
  h2{
    .font-basic(@_font: titillium-bold,@_size: 40px, @_align:center, @_weight: bold, @_upper: uppercase, @_color: #000);
  }
  p{
    margin-top: 50px;
    .font-basic(@_font: titillium-semibold, @_align:center, @_size: 18px, @_color: #000);
  }
  .position{
    text-align: center;
    margin: 60px 0;
    a{
      text-decoration: none;
      padding: 20px 60px;
      .font-basic(@_font: titillium-semibold, @_upper: uppercase);
      .border-basic(@_bg: #17c2a4);
      &:hover{
        .border-basic(@_animate:true, @_bg: red);
      }
    }
  }
  .tabs {
    text-align: center;
    margin-top: 40px;
    .vkl1, .vkl2, .vkl3, .vkl4 {
      display: none;
    }

    input {
      display: none;
      &[type="radio"] {
        &:checked+label {
          .border-basic(@_bg: #a38484);
        }
      }
    }

    label {
      .font-basic(@_font: titillium-semibold, @_align:center, @_size: 18px, @_color: #393939, @_upper: uppercase, @_line: 20px);
      .border-basic(@_bg: #ebc985);
      cursor: pointer;
      padding: 10px 25px;
      position: relative;
      &:hover{
        .border-basic(@_bg: #a38484, @_animate: true);
      }
    }
    /*Тильда (~) позволяет обращатся к родственикам блока для стилизации */
    #vkl1:checked~.vkl1,
    #vkl2:checked~.vkl2,
    #vkl3:checked~.vkl3,
    #vkl4:checked~.vkl4 {
      display: block;
      padding: 5px;
    }

    ul{
      text-align: center;
      margin-top: 60px;
      li{
        float: left;
        width: 540px;
        margin: 40px 0;
        p{
          margin-top: 15px;
          .font-basic(@_font: titillium-semibold, @_align:center, @_size: 18px, @_color: #000);
        }
      }
    }

  }

}

.bg_style_6{
  .clearfix();
  background: #d74680;
  padding: 120px 0 80px;
  h2{
    .font-basic(@_font: titillium-bold,@_size: 40px, @_align:center, @_weight: bold, @_upper: uppercase, @_color: #000);
  }
  p{
    margin-top: 50px;
    .font-basic(@_font: titillium-semibold, @_align:center, @_size: 18px, @_color: #000);
  }
  .comment{
    width: 540px;
    float: left;
    img{
      float: left;
      width: 120px;
      .border-basic(@_size: 50%);
    }
    .feedback{
      float: left;
      width: 400px;
      padding: 7px;
      margin-left: 20px;
      p{
        margin: 0;
        .font-basic(@_font: titillium-regular, @_align:left, @_size: 18px, @_line: 1.2);
      }
      .user-name{
        margin-top: 10px;
        .font-basic(@_font: titillium-bold, @_align:left, @_size: 24px,@_upper: uppercase, @_color: #000);
      }
      .position{
        margin-top: 5px;
        .font-basic(@_font: titillium-regular, @_align:left, @_size: 18px, @_color: #facd96);
      }
    }
  }
}

.bg_style_7{
  .clearfix();
  background: #3c5499;
  padding: 120px 0 80px;
  h2{
    .font-basic(@_font: titillium-bold,@_size: 40px, @_align:center, @_weight: bold, @_upper: uppercase);
  }
  p{
    margin-top: 50px;
    .font-basic(@_font: titillium-semibold, @_align:center, @_size: 18px);
  }
  form{
    input{
      .border-basic(@_bg: @color_white);
      &[type="text"], &[type="email"]{
        padding: 7px;
        width: 500px;
        margin: 20px;
      }
    }
    textarea{
      resize: none;
      padding: 7px;
      width: 1045px;
      height: 300px;
      margin: 20px;
      .border-basic(@_bg: @color_white);
    }
    .position{
      text-align: center;
      margin: 30px 0;
      input{
        padding: 20px 60px;
        .font-basic(@_font: titillium-semibold, @_upper: uppercase);
        .border-basic(@_bg: #30bae7);
        &:hover{
          cursor: pointer;
          .border-basic(@_animate:true, @_bg: red);
        }
      }
    }
  }
}

.footer{
  .clearfix();
  background: #344b8e;
  padding: 40px 0;
  ul{
    li{
      float: left;
      a{
        text-decoration: none;
        padding: 0 36px;
        .font-basic(@_font: titillium-bold, @_color: @color_white, @_size: 24px);
      }

    }
  }
}




















